body{
    background-color: beige;
    padding: 2em 6em;
    font-size: 18px;
}

.title{
    font-weight: bold;
    text-align: center;
}

.back-button{
    background-color: #ADAC54;
    border: 1px solid gray;
    color: white;
    text-decoration: none;
    padding: 5px;
}

img{
    display: block;
    margin: 0 auto;
    border: 3px solid #74512D;
    border-radius: 15px;
}